---
name: Validate C++ (Clang Format)

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - '**/*.h'
      - '**/*.c'
      - '**/*.cpp'
  pull_request:
    paths:
      - '**/*.h'
      - '**/*.c'
      - '**/*.cpp'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RafikFarhad/clang-format-github-action@v3
        with:
          sources: "**/*.h,**/*.c,**/*.cpp"
...
